body {
    color:aqua;
    background: black;
    margin:0px;
}

header { 
   
    border-bottom : solid 2px rgb(42,122,228);
    padding: 20px;
    font-size:32px;
    color:blue(42,122,228);

}
.categoria-videos{
    background-color: rgb(184,156,213);
    padding-bottom: 80px;
    padding-top: 80px;
    display:flex;
    justify-content: center;
}
.categoria{
 margin-right:5%;

}








img{
    height:  200px;
}

.categoria-videos{
    display:flex;
    overflow-x: auto;
    gap: 20px
}

section {
    padding-left: 20px;
    padding-right: 20px;
}
h1{

}

p{
    font-size:20px:
}

    



